@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme inline {
  --font-inter: 'Open Sans', sans-serif;
}

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;

  }
}

h1 {
  color: #1E3865;
}