@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.bg-black-opacity-20 {
  background-color: rgba(0, 0, 0, 0.476);
}


@keyframes float {
      0%   { transform: translate(0, 0); }
      50%  { transform: translate(15px, -15px); }
      100% { transform: translate(0, 0); }
    }

    .float-smooth {
      animation: float 2.5s ease-in-out infinite;
    }
/* @theme inline {
  --font-inter: 'Open Sans', sans-serif;
}

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;

  }
}

h1 {
  color: #1E3865;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
 */
