@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
.montserrat {
  font-family: "Montserrat", sans-serif !important;
}


/* @theme inline {
  --font-inter: 'Open Sans', sans-serif;
}

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;

  }
}

h1 {
  color: #1E3865;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
 */
